<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>

    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2016 by <a href="http://outlandish.com/">Outlandish</a>.
        {% endblock %}
    </div>

</body>
</html>