# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Editors
/.idea

# Git commit id
commit.txt
gitcommit.txt

\.DS_Store
.gitignore

# Ansible provisioned
web/favicon.ico

# Generated via crontab
web/cotech-images.tgz


#NPM
node_modules