@import 'settings';
@import 'foundation-icons.scss';
@import 'foundation';
@import 'font-awesome';
@import 'leaflet';
@include foundation-everything;

@mixin backgroundSize($size) {
  -webkit-background-size: $size;
  -moz-background-size:    $size;
  -o-background-size:      $size;
  background-size:         $size;
}

@mixin transition($property, $duration, $function:ease-in) {
  -webkit-transition: $property $duration $function;
  -moz-transition:    $property $duration $function;
  -o-transition:      $property $duration $function;
  transition:         $property $duration $function;
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -moz-transform:    $transformation;
  -o-transform:      $transformation;
  transform:         $transformation;
}

@mixin filter($effect) {
  -webkit-filter: $effect;
  -moz-filter:    $effect;
  -o-filter:      $effect;
  filter:         $effect;
}

$cotech-black: #000000;
$cotech-grey-1: #555a64;
$cotech-grey-2: #7b8290;
$cotech-grey-3: #9196a2;
$cotech-grey-4: #999999;
$cotech-grey-5: #e6e5e1;
$cotech-grey-6: #f7f7f5;
$cotech-white: #ffffff;

$cotech-blue-1: #1e2637;
$cotech-blue-2: #212a3d;
$cotech-blue-3: #38aad5;
$cotech-blue-4: #40c3f4;
$cotech-yellow: #fdc441;

$one-sixth: 16.666667%;
$one-third: 33.333333%;
$one-quarter: 25%;
$half: 50%;
$two-thirds: 66.666667%;
$full: 100%;

/* ---------------------------------------- Typography  ---------------------------------------- */

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: $cotech-blue-1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "open_sansbold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

h5 {
  font-size: 1rem;
}

.button {
  background-color: $cotech-blue-3;
  transition: all 0.2s ease;
  border-radius: 3px;
  padding: 1em 3em;
  font-size: 1.1rem;
  font-family: "open_sansbold";

  &:hover,
  &:focus {
    background-color: $cotech-blue-4;
  }
}

a:hover,
a:focus {
  color: $cotech-blue-3;
}


/* ---------------------------------------- HEADER  ---------------------------------------- */

.top-bar {
  background-color: $cotech-white;
  padding: 1.4rem;
  width: 100%;
  z-index: 9999 !important;

  ul {
    background-color: $cotech-white;
  }

  a {
    &:hover {
      color: $cotech-blue-3;
    }

    &.button:hover {
      color: $cotech-white;
    }
  }
  
  a.active:not(.button) {
    color: $cotech-blue-3;
  }

  #logo {
    img {
      @include transition(all, 0.4s, ease-in);
    }

    &:hover,
    &:focus {
      img {
        @include transform(rotate(144deg));
      }
    }
  }
}

.top-bar-right .menu > li {
  padding-right: 0.5rem;

  > a {
    padding: 0.7rem;
    font-size: 1rem;
    letter-spacing: 0.05em;

    &.button {
      margin-left: 0.5rem;
      padding: 0.7rem 1.2rem;
    }
  }
}

/* Small only - For small screens, make the burger icon align to the right of top bar*/
@media screen and (max-width: 39.9375em) {
  .top-bar-title {
    width: $full;

    /* Burger Icon */
    span {
      float:right;
    }
  }
  
  
  .top-bar-right .dropdown.menu  {
    padding-top: 1em;
  }
  
  .top-bar-right .button {
    margin-top: 0.7em;
  }
  
}

#logo,
.top-bar-title span {
  line-height: 2.4;
}

#logo img {
  margin-right: 0.5rem;
}


/* ---------------------------------------- HOME PAGE  ---------------------------------------- */

/* -------------------- BANNER  -------------------- */

#banner {
  padding: 8rem 0;
  text-align: center;
  background-image: url(../img/banner-collage.jpg);
  //background-color: $cotech-blue-4;
  background-position: center center;
  background-repeat: no-repeat;
  //background-blend-mode: luminosity;
  @include backgroundSize(cover);

  h1, p, li, a {
    color: $cotech-white;
  }

  i {
    padding-right: 0.5em;
    font-size: 1.5rem;
    margin-top: 0.3em;
  }

  a {
    vertical-align: top;
    line-height: 1.8rem;
    border: 1px solid $cotech-white;
    border-radius: 3px;
    padding: 0.5em 1.3em;
    margin: 1rem 0.5rem 0;
    display: inline-block;
    transition: all 0.3s ease;
  }

  a:hover {
    background-color: $cotech-white;
    color: $cotech-blue-3;
  }
}

#video,
#our-manifesto {
  height: 48px !important;
}

.reveal-overlay {
  z-index: 9999;
}


/* -------------------- KPI -------------------- */

#kpi {
  background-color: $cotech-grey-6;
  text-align: center;
  padding: 2rem 0 1.5rem;

  img {
    padding-bottom: 0.6em;
  }

  h6 {
    font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 0.02em;
    margin-bottom: 0.2rem;
    color: $cotech-grey-2;
  }

  h5 {
    font-size: 2.2rem;
    letter-spacing: 0.02em;
    margin: 0;
  }
}

@media screen and (max-width: 39.9375em) {
    #kpi h5 {
    font-size: 1.4rem; }
}


/* -------------------- HOME  -------------------- */

.home {
  section {
    padding: 6rem 0;

    h2 {
      text-align: center;
      padding-bottom: 3rem;
    }

    h2 {
      padding-bottom: 0;
    }

    p {
      text-align: center;
      padding-bottom: 1.6rem;
      color: $cotech-grey-3;
    }
  }
}


/* -------------------- MEMBERS -------------------- */

#members p {
  padding-bottom: 0;
}

/* ------- Tiles ------- */

.view {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 170px;

  .tabs {
    display: inline-block;
    border: none;
  }

  .separator {
    line-height: 3;
    float: left;
  }
}

.tabs-panel {
  padding: 0;
}

.tabs-content {
  border: 0;
}

.tabs-title > a {
  color: $cotech-grey-4;
  font-size: 1rem;

  &:focus,
  &[aria-selected='true'] {
    background-color: transparent;
    color: $cotech-blue-1;
  }
}

/* Coops Thumb */

.coop-thumb {
  height: 123px;
  text-align: center;
  border: solid 1px $cotech-grey-5;
  background-color: $cotech-white;
  display: block;
  margin-bottom: -1px;
  margin-left: -1px;
  @include transition(all, 0.3s, ease);

  .coop-thumb-img {
    width: $full;
    height: $full;
    background: center center no-repeat;
    @include backgroundSize(contain);
  }

  span {
    display: block;
    padding-top: 0.5rem;
    margin-bottom: 1.2rem;
  }

  span h4 {
    font-size: 0.9rem;
    text-align: center;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.has-tip {
  cursor: pointer;
  cursor: hand;
  border-bottom: none;
}

h5#join-us {
  color: $cotech-blue-3;
  background-color: $cotech-grey-6;
  padding: $one-quarter 5px;
  letter-spacing: 0.03em;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  
  &:hover,
  &:focus {
  color: #fff;
  background-color: $cotech-blue-3; 
  }
  
}

/* ------- Map ------- */

#map-coops {
  height: 600px;
  width: $full;
  margin: 0;
}


/* -------------------- CLIENTS  -------------------- */

.home #clients {
  background-color: $cotech-grey-6;
}

.client-thumb {
  height: 150px;
  width: $full;
  background: center center no-repeat;
  @include backgroundSize(contain);
  opacity: 0.5;
  @include transition(opacity, 0.6s, ease);

  &:hover {
    opacity: 1;
  }
}


/* -------------------- SERVICES  -------------------- */

.service-thumb {
  height: 74px;
  text-align: center;
  padding: 0 0 2rem;
  margin: 0 0 3.5rem;
  display: block;

  .service-thumb-img {
    height: $full;
    width: $full;
    background: center center no-repeat;
    @include backgroundSize(contain);
    @include transition(all, 0.3s, ease);
  }

  h5 {
    font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin-top: 0.5rem;
    color: $cotech-grey-1;
  }

  &:hover,
  &:focus {
    .service-thumb-img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    h5 {
      color: $cotech-black;
    }
  }
}


/* -------------------- TECHNOLOGIES  -------------------- */

#technologies {
  background-color: $cotech-grey-6;
}

.technology-thumb {
  height: 120px;
  width: $full;
  text-align: center;
  padding: 0 0 3rem;
  display: block;
  color: $cotech-grey-1;
  margin-bottom: 1rem;

  .technology-thumb-img {
    height: $full;
    width: $full;
    background: center center no-repeat;
    @include backgroundSize(contain);
    @include transition(all, 0.3s, ease);
  }

  h5 {
    font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    margin-top: 0.3rem;
    color: $cotech-grey-1;
    @include transition(all, 0.3s, ease);
  }

  &:hover,
  &:focus {
    .technology-thumb-img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    h5 {
      color: $cotech-black;
    }
  }
}


/* -------------------- CONTACT  -------------------- */

#contact {
  background-color: $cotech-blue-3;

  h2, p {
    color: $cotech-white;
  }

  textarea {
    height: 200px;
    margin: 0.5rem 0 1.7rem;
    padding: 1.3rem 1.5rem;
  }

  .button {
    background-color: $cotech-white;
    color: $cotech-blue-2;
    font-family: "open_sansbold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    transition: all 0.2s ease;

    &:hover,
    &:focus {
      background-color: $cotech-yellow;
      color: $cotech-white;
      border-color: $cotech-yellow;
    }
  }

  [type='text'],
  [type='email'],
  textarea {
    background-color: transparent;
    border-color: $cotech-white;
    padding: 1.5rem;
    color: $cotech-white;
    font-size: 1.1rem;
    letter-spacing: 0.02em;
    border-radius: 3px;

    /* change the text placeholder colour to white */

    &::-webkit-input-placeholder {
      color: $cotech-white;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $cotech-white;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $cotech-white;
    }

    &:-ms-input-placeholder {
      color: $cotech-white;
    }
    
    &:focus {
      background-color: #339dc5;
    }
    
  }
}

.home section form {
    p {
      padding-bottom: 0;
      text-align: left;
    }
} 


/* ---------------------------------------- SINGLE PAGE ---------------------------------------- */

.back {
  padding-left: 2rem;
  color: $cotech-grey-3;
}

#page-banner {
  margin-bottom: 4rem;
  text-align: center;

  h2 {
    line-height: 1.2;
  }

  a {
    letter-spacing: 0.04em;
    color: $cotech-grey-3;

    &:hover,
    &:focus {
      color: $cotech-blue-3;
    }
  }

  span {
    color: $cotech-blue-3;
  }
}


/* ---------------------------------------- COOP PAGE ---------------------------------------- */

.coop {
  .social {
    margin: 1rem 0 2rem;

    i {
      font-size: 2rem;
    }

    a {
      padding: 0 1rem 0 0;
    }
  }

  section {
    margin-bottom: 3rem;

    h4 {
      margin-bottom: 1.2rem;
    }

    h5 {
      font-size: 1rem;
      text-align: center;
    }
  }

  .map {
    margin-top: 4rem;
    margin-bottom: 0;

    #map-single {
      margin: 0;
      width: $full;
      height: 480px;
    }

    iframe {
      width: $full;
      height: 500px;
    }
  }

  .client-thumb-container {
    .client-thumb {
      height: 120px;
    }

    .client-thumb-header {
      font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      color: $cotech-grey-1;
    }

    &:hover,
    &:focus {
      .client-thumb-header {
        color: $cotech-black;
      }
    }
  }
}


/* ---------------------------------------- SERVICE/TECHNOLOGY  ---------------------------------------- */

.service,
.technology {
  #page-banner {
    margin-bottom: 0;

    img {
      max-height: 150px;
      margin-bottom: 1rem;
    }
  }

  .row {
    margin-bottom: 3rem;
  }

  #map-services,
  #map-technologies {
    height: 800px;
    width: $full;
    margin: 0;
  }
}


/* ---------------------------------------- FOOTER  ---------------------------------------- */

footer {
  margin-top: 0;

  .footer-upper {
    background-color: $cotech-blue-2;
    padding: 1.8rem 0 1.2rem;

    .menu > li > a {
      color: $cotech-white;
      font-weight: bold;
      padding-left: 0;
      padding-right: 0;
      margin: 0 1rem;
      border-bottom: 1px solid transparent;
      transition: all 0.2s ease;

      span {
        color: $cotech-yellow;
      }

      &:hover,
      &:focus {
        border-bottom: 1px solid $cotech-yellow;
      }
    }
  }
}

.footer-lower {
  background-color: $cotech-blue-1;
  padding: 6rem 0;
  
  img {
    margin-bottom: 1rem;
  }

  p {
    color: $cotech-grey-2;
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
  }
  
  a {
    color: inherit;
    transition: all 0.2s ease;
  }
  
  a:hover {
    color: #fff;
  }
}


/* ---------------------------------------- ABOUT/JOIN/MANIFESTO ---------------------------------------- */

.page-content {
  margin-bottom: 6rem;

  a {
    font-weight: bold;
    color: $cotech-blue-2;
    
    &:hover,
      &:focus {
        color: $cotech-blue-3;
      }
  }

  ol,
  ul {
    margin: 1.5rem;
  }

  ol {
    list-style-position: inside;
  }

  #join-form {
    margin-top: 4rem;

    textarea {
      height: 200px;
      margin: 0.95rem 0 1.7rem;
    }

    [type='text'],
    [type='email'],
    textarea {
      padding: 1.5rem;
      font-size: 1.1rem;
      letter-spacing: 0.02em;
      border-radius: 3px;
      border-color: $cotech-blue-3;
    }

    a {
      background-color: $cotech-white;
      border: 1px $cotech-grey-4 solid;

      &:hover,
      &:focus {
        background-color: $cotech-blue-3;
        color: $cotech-white;
      }
    }
  }
}
