@import 'settings';
@import 'foundation';
@import 'font-awesome';
@include foundation-everything;

/* ---------------------------------------- Typography  ---------------------------------------- */

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,li,a {
  font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #1e2637;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "open_sansbold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.button {
  background-color: #38aad5;
  transition: all 0.2s ease;
}

.button:hover, .button:focus {
  background-color: #40c3f4;
}

a:hover, a:focus {
  color: #38aad5;
}

/* ---------------------------------------- HEADER  ---------------------------------------- */

.top-bar {
  padding: 1.4rem;
}

.top-bar, .top-bar ul {
  background-color: #fff;
}

.top-bar-right .menu > li {
  padding-right: 0.5rem;
}

.top-bar-right .menu > li > a {
  padding: 0.7rem;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.top-bar a:hover {
  color: #38aad5;
}

.top-bar a.button:hover {
  color: #fff;
}

.top-bar-right .menu > li > a.button {
  margin-left: 0.5rem;
  padding: 0.7rem 1.2rem;
  font-weight: bold;
}

/* Small only - For small screens, make the burger icon align to the right of top bar*/
@media screen and (max-width: 39.9375em) {
  .top-bar-title {
    width: 100%;
  }

  /* Burger Icon */
  .top-bar-title span {
    float:right;
  }
}

#logo, .top-bar-title span {
  line-height: 2.4;
}

#logo img {
  margin-right: 0.5rem;
}

/* ---------------------------------------- HOME PAGE  ---------------------------------------- */

/* -------------------- BANNER  -------------------- */

#banner {
  padding: 8rem 0;
  background-color: #38aad5;
  text-align: center;
  background: url(../img/banner-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner h1, #banner p, #banner li, #banner a {
  color: #fff;
}

#banner i {
  padding-right: 0.5em;
  font-size: 1.5rem;
  margin-top: 0.3em;
}

#banner a {
  vertical-align: top;
  line-height: 1.6rem;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.3s ease;
}

#banner a:hover {
  background-color: #fff;
  color: #38aad5;
}

/* -------------------- KPI -------------------- */

#kpi {
  background-color: #f7f7f5;
  text-align: center;
  padding: 2rem 0;
}

/*
#kpi i {
  font-size: 4rem;
  line-height: 1;
  color: #7b8290;
}
*/

#kpi img {
  padding-bottom: 0.6em;
}

#kpi h6 {
  font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#kpi h6 {
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 0.02em;
  margin-bottom: 0.2rem;
  color: #7b8290;
}

#kpi h5 {
  font-size: 2.2rem;
  letter-spacing: 0.02em;
}

/* -------------------- HOME  -------------------- */

.home section {
  padding: 6rem 0;
}

.home section h2 {
  text-align: center;
  padding-bottom: 3rem;
}

.home section h2 {
  padding-bottom: 0;
}

.home section p {
  text-align: center;
  padding-bottom: 1.6rem;
  color: #9196a2;
}

/* -------------------- WHO WE ARE -------------------- */

#who-we-are p {
  padding-bottom: 0;
}

/* View */

.view {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 170px;
}

.view .tabs {
  display: inline-block;
  border: none;
}

.tabs-panel {
  padding: 0;
}

.tabs-content {
  border: 0;
}

.tabs-title > a {
  color: #999;
  font-size: 1rem;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background-color: transparent;
  color: #1e2637;
}

.view .separator {
  line-height: 3;
  float: left;
}

/* Coops Thumb */

.coop-thumb {
  width: 200px;
  height: 123px;
  line-height: 123px;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #e6e5e1;
  background-color: #fff;
  display: block;
  transition: box-shadow 200ms ease-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  margin-right: -1px;
  margin-bottom: -1px;
}

.coop-thumb img {
  margin-bottom: 0;
}

.coop-thumb span {
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.coop-thumb span h4 {
  font-size: 0.9rem;
  text-align: center;
}

.coop-thumb:hover, coop-thumb:focus {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

/* -------------------- CLIENTS  -------------------- */

.home #clients {
  background-color: #f7f7f5;
}

#clients img {
  filter: grayscale(100%); /* Standard CSS */
  -webkit-filter: grayscale(100%); /* CSS for Webkit Browsers */
  filter: url(/elements/grayscale.svg#desaturate); /* Firefox 4-34 */
  filter: gray;  /* Internet Explorer IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit Browsers */
  margin: 0 0 3rem;
  transition: all 0.6s ease;
}

#clients img:hover {
  filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0); /* Old WebKit */
}

/* -------------------- SERVICES  -------------------- */

.service-thumb {
  text-align: center;
  padding: 0 0 2rem;
  display: block;
}

.service-thumb img {
  height: 42px;
  width: 65px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}


.service-thumb:hover img, service-thumb:focus img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.service-thumb:hover h5, service-thumb:focus h5 {
  color: #000;
}

.service-thumb h5 {
  font-family: "open_sansregular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin-top: 0.3rem;
  color: #555a64;
}

/* -------------------- TECHNOLOGIES  -------------------- */

#technologies {
  background-color: #f7f7f5;
}

.technology-thumb {
  text-align: center;
  border: 1px solid #7b8290;
  border-radius: 3px;
  width: 100%;
  display: block;
  padding: 1rem 0;
  color: #555a64;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.technology-thumb img {
  height: 60px;
}

.technology-thumb:hover {
  background-color: #fdc441;
  color: #fff;
  border-color: #fdc441;
}

/* -------------------- HIRE  -------------------- */

#hire {
  background-color: #38aad5;
}

#hire h2, #hire p {
  color: #fff;
}

#hire [type='text'], #hire [type='email'], #hire textarea {
  background-color: transparent;
  border-color: #fff;
  padding: 1.5rem;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
}

#hire textarea {
  height: 200px;
  margin: 0.95rem 0 1.7rem;
  padding: 1.3rem 1.5rem;
}

/* change the text placeholder colour to white */

#hire [type='text']::-webkit-input-placeholder, #hire [type='email']::-webkit-input-placeholder, #hire textarea::-webkit-input-placeholder {
  color: #fff;
}

#hire [type='text']:-moz-placeholder, #hire [type='email']:-moz-placeholder, #hire textarea:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#hire [type='text']::-moz-placeholder, #hire [type='email']::-moz-placeholder, #hire textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

#hire [type='text']:-ms-input-placeholder, #hire [type='email']:-ms-input-placeholder, #hire textarea:-ms-input-placeholder {
  color: #fff;
}

#hire .button {
  background-color: #fff;
  color: #38aad5;
  font-family: "open_sansbold", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  transition: all 0.2s ease;
}

#hire .button:hover {
  background-color: #fdc441;
  color: #fff;
  border-color: #fdc441;
}

/* ---------------------------------------- SINGLE PAGE ---------------------------------------- */

.back {
  padding-left: 2rem;
  color: #9196a2;
}

#page-banner {
  margin-bottom: 4rem;
  text-align: center;
}

#page-banner h2 {
  line-height: 1.2;
}

#page-banner a {
  letter-spacing: 0.04em;
  color: #9196a2;
}

#page-banner a:hover {
  color: #38aad5;
}

#page-banner span {
  color: #38aad5;
}

/* ---------------------------------------- COOP PAGE ---------------------------------------- */



.coop .social {
  margin: 1rem 0 2rem;
}

.coop .social i {
  font-size: 2rem;
}

.coop .social a {
  padding: 0 1rem 0 0;
}

.coop section {
  margin-bottom: 3rem;
}

.coop .service-thumb {
  padding-bottom: 0;
}

.coop section h4 {
  margin-bottom: 1.2rem;
}

.coop section h5 {
  font-size: 1rem;
}

.coop section#map {
  margin: 4rem 0 0 0;
}

#map iframe {
  width: 100%;
  height: 500px;
}


/* ---------------------------------------- SERVICE  ---------------------------------------- */

.service #page-banner img {
  margin-bottom: 1rem;
}

.service #page-banner, .technology #page-banner {
  margin-bottom: 0rem;
}


/* ---------------------------------------- FOOTER  ---------------------------------------- */

footer {
  margin-top: 6rem;
}

.home footer, .coop footer {
  margin-top: 0;
}

.footer-upper {
  background-color: #212a3d;
  padding: 2.8rem 0 2.2rem;
}

footer .footer-upper .menu > li > a {
  color: #fff;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1rem;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}

footer .footer-upper .menu > li > a span {
  color: #fdc441;
}

.footer-lower {
  background-color: #1e2637;
  padding: 5rem 0;
}

.footer-lower p {
  color: #7b8290;
  text-align: center;
  margin: 1rem 0 0;
  font-size: 0.9rem;
}

footer .footer-upper .menu > li > a:hover {
  border-bottom: 1px solid #fdc441;
}