/* ---------------------------------------- HEADER  ---------------------------------------- */

.top-bar {
  padding: 0.5rem 1rem;
}

.top-bar-right .menu > li {
  padding-right: 0.5rem;
}

.top-bar-right .menu > li > a {
  padding: 0.7rem;
}

/* Small only - For small screens, make the burger icon align to the right of top bar*/
@media screen and (max-width: 39.9375em) {
  .top-bar-title {
  width: 100%;
  }
  
  /* Burger Icon */
  .top-bar-title span {
  float:right;
  } 
}

#logo, .top-bar-title span {
  line-height: 2.4;
}

/* ---------------------------------------- HOME PAGE  ---------------------------------------- */

/* -------------------- BANNER  -------------------- */

#banner {
  padding: 8rem 0 4rem;
  border-bottom: 1px solid #aaa;
}

/* -------------------- KPI -------------------- */

#kpi {
  margin-top: 8rem;
  text-align: center;
}

#kpi i {
  font-size: 4rem;
}

/* -------------------- SECTIONS  -------------------- */

section {
  padding: 6rem 0;
  border-bottom: 1px solid #aaa;
}

section h2 {
  text-align: center;
  padding-bottom: 1.6rem;
}

/* -------------------- WHO WE ARE -------------------- */

section#who-we-are h2 {
  text-align: center;
  padding-bottom: 1.6rem;
}

/* View */

.view {
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 150px;
}

.view .tabs {
  display: inline-block;
}

.tabs-panel {
  padding: 0;
}

.tabs-content {
  border: 0;
}

/* Coops Thumb */

.coop-thumb img {
  margin-bottom: 0;
}

.coop-thumb span {
  display: block;
  padding-top: 0.5rem;
  margin-bottom: 1.2rem;
}

.coop-thumb span h4 {
  font-size: 0.9rem;
  text-align: center;
}

/* -------------------- CLIENTS  -------------------- */

#clients .orbit-previous, #clients .orbit-next {
  color: #999;
}

#clients .orbit-container {
  padding-left: 70px;
  padding-right: 70px;
}

/* -------------------- HIRE  -------------------- */

textarea {
  height: 200px;
}


/* ---------------------------------------- SINGLE PAGE ---------------------------------------- */

.back {
  padding-left: 2rem;
}

#page-banner {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#page-banner h2 {
  line-height: 1.2;
}

/* ---------------------------------------- FOOTER  ---------------------------------------- */

footer {
  padding: 2rem 0;
}

footer p {
  padding: 0;
  margin: 0;
}

footer .menu > li > a {
  display: inline;
}